:root {
  --color-primary: #eba83a;
  --color-secondary: #ff5200;
  --color-dark: #000000;
  --color-white: #ffffff;
  --main-background: linear-gradient(to right bottom, #424642, #1b2021);
  --main-gradient: linear-gradient(to right bottom, #eba83a, #ff5200);
  --heading-gradient: linear-gradient(to right, #eba83a, #ff5200);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  height: 95vh;
  position: relative;
  background-color: var(--color-primary);
}

.logo-box {
  position: absolute;
  top: 30px;
  left: 60px;
  user-select: none;
}

.logo {
  height: 77px;
}

.logo-name {
  position: absolute;
  white-space: nowrap;
  top: 22px;
  left: 90px;
  font-size: 20px;
}

.logo-name__hidden {
  opacity: 0;
}

.logo-name__start-animate {
  animation-name: moveInLeftAndLeave;
  animation-duration: 3s;
}

.logo-name__display-animate {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.logo-name__leave-animate {
  animation-name: leaveInRight;
  animation-duration: 1s;
}

.nav-box {
  position: absolute;
  top: 55px;
  right: 80px;
}

.nav-link {
  margin: 0 15px;
}

.theme-icon {
  position: absolute;
  top: -7px;
  font-size: 25px;
}

.text-box {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  margin-bottom: 25px;
}

.heading-primary-main {
  font-size: 60px;
  font-weight: 400;
}

.heading-cursor {
  font-size: 60px;
  font-weight: 400;
}

.heading-cursor__toggle {
  position: absolute;
}

.container-end {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  border-top: 1px solid var(--color-dark);
}

@keyframes moveInLeftAndLeave {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translate(100px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes leaveInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translate(100px);
  }
}

.btn,
.btn:link,
.btn:visited {
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  cursor: pointer;
}

.small-btn:link,
.small-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover,
.btn-form:hover,
.small-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn-form:active,
.small-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-black {
  background-color: var(--color-dark);
  color: #fff;
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.btn-outline-black {
  border: 1px solid var(--color-dark);
}

.go__down-box {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-dark);
  font-size: 25px;
  font-weight: 500;
  transition: font-size 0.3s;
}

.go__down-box:hover {
  font-size: 27px;
}

/* NAV */
nav {
  padding: 20px;
  background-color: rgba(235, 168, 58, 0.8);
  position: fixed;
  z-index: 100;
  height: 85px;
  width: 100%;
  animation: navAppear 0.5s;
}

.remove-nav {
  animation: navDisappear 0.5s;
}

@keyframes navAppear {
  0% {
    transform: translateY(-85px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes navDisappear {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translateY(-85px);
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.logo-container {
  float: left;
}

.nav-logo {
  transform: translate(-20%, -20%);
}

.nav__logo-name {
  position: absolute;
  top: 30px;
  left: 85px;
}

.links-container {
  float: right;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin: 0 10px;
}

.section-experiences {
  background-color: #f7f7f7;
  padding: 5.5rem 0 10rem 0;
}

.heading-secondary {
  font-size: 3rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

/* .heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2) !important;
  background-image: var(--heading-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-3 {
  margin-bottom: 2.5rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
}

.card__side {
  height: 25rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card__side--front {
  background-image: var(--main-background);
}

.card__side--back {
  transform: rotateY(180deg);
  background-image: var(--main-gradient);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card-heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-white);
}

/* Custom grid */
.row {
  max-width: 140rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 3);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 3rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup-content {
  width: 75%;
  background-image: var(--main-background);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  border-radius: 5px;
  color: #fff;
  overflow: hidden;
  animation: popupAppear 0.7s;
}

.popup-left {
  width: 33.3333333%;
  display: table-cell;
  vertical-align: middle;
}

.popup-right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img {
  display: block;
  width: 100%;
  margin: 2.5rem;
  border-radius: 5px;
}

.popup-list {
  padding: 0 1rem;
  margin: 1rem 0;
}

.popup-links {
  color: var(--color-white);
}

.popup-close {
  color: var(--color-white);
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  line-height: 1;
}

.heading-third {
  font-size: 2rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

/* .heading-third:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2) !important;
  background-image: var(--heading-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

@keyframes popupAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page-end {
  background-image: var(--main-background);
}

.section-contact {
  padding: 15rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  height: 55rem;
}

.contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45rem;
  width: 50rem;
  background-color: rgba(66, 70, 66, 0.8);
  border-radius: 5px;
  padding: 2.5rem;
  color: #fff;
}

.contact-heading {
  text-align: center;
}

.contact-form {
  text-align: center;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.form-input {
  font-size: 15px;
  font-family: inherit;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  resize: none;
  transition: all;
}

.btn-form {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.btn-form:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-primary);
}

.form-input:focus:invalid {
  border-bottom: 3px solid var(--color-primary);
}

.form-input:focus:valid {
  border-bottom: 3px solid transparent;
}

.footer {
  padding: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.social-media {
  margin-bottom: 1.5rem;
}

.bi {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 8px;
  font-size: 1.5rem;
}

.developer-link {
  color: rgba(255, 255, 255, 0.5);
}
